<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SpeedtestPath" value="c:\temp\speedtest-cli.exe"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>

  <connectionStrings>
    <add name="SqlServerDb" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=InternetSpeedLogger.Database.SqlServerDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>